# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
.pytest_cache
.python-version

# configs / service accounts
load-gen-script/config.yaml
load-gen-script/service-account.yaml
load-gen-service/config.yaml
*.json

# Firestore needs some setup files but we don't want them
build/firestore_setup

cloud_sql_proxy

jobs_to_investigate*
